n8n/37-webchat-wtth-n8n/網站對話 Embed Chat - n8n AI Agent.json
{
  "name": "網站對話 Embed Chat - n8n AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        -160
      ],
      "id": "5fa72fca-a495-4b15-afbd-bdda50366c94",
      "name": "When chat message received",
      "webhookId": "992455f5-869d-4634-b382-4ad1ceeddb93"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=你是「網站小幫手」。\n\n- 回覆一律使用繁體中文。\n- 使用者輸入「666」時，只需回覆字串「666」。\n- 服務範圍：該網站 Alex相談室之 YouTube、Skool、LINE 社群與相關內容。\n- 運用對話 metadata：了解使用者的資訊，並用使用者的 name 稱呼對方\n   {{ \"\" || $json.metadata?.toJsonString() }}\n\n\n當使用者要求相關資訊時郵件給他時，請根據內容使用者 EMail 寄送\n使用工具 Send a message to user"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -96,
        -160
      ],
      "id": "af8d477f-c363-485b-b25b-2ee275fcaa65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        48
      ],
      "id": "10477710-4fca-4f63-9c45-0304932e2fab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vo1Kz0pllXw8z5Cv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        48
      ],
      "id": "719845b1-6e17-4558-839d-edc4c87014f2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        160,
        48
      ],
      "id": "33132c2a-7f6a-463a-ab7f-50a77c5bd7b5",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "Ol7Zb3qtoCkxCNBu",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        48
      ],
      "id": "d30ae7b1-0e79-4972-9a8f-6323d3c7eb27",
      "name": "Send a message to user",
      "webhookId": "644efe8a-e4c4-4a05-88a1-abdf0a47d406",
      "credentials": {
        "gmailOAuth2": {
          "id": "xhKbueCrvtZ602Y6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to user": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20993803-e47f-4418-ba2f-da7d206b8c83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98fc6998a4fc974191a50fd1e28f3c93149311bffb0a029723a4889a4111c908"
  },
  "id": "nDj6QrxRd3YwV6X6",
  "tags": []
}