n8n/37-webchat-wtth-n8n/羽球預約 AI Agent.json
{
  "name": "羽球預約 AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        -160
      ],
      "id": "580752b6-acc1-4063-a87c-08741aefa972",
      "name": "When chat message received",
      "webhookId": "202b2153-7bc2-49b5-a12b-b0f9a1505ee5"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "你是「網站小幫手」。\n\n- 回覆一律使用繁體中文。\n- 使用者輸入「666」時，只需回覆字串「666」。\n- 服務範圍：該網站用來預約羽球場館\n- 運用對話 metadata：了解使用者的資訊，並用使用者的名稱稱呼對方\n   {{ \"\" || $json.metadata.toJsonString() }}\n\n\n當使用者要求詢問目前的預約狀況時\n- use tool http request for 獲取客戶預約資料 \n- endpoints - get-user-bookings\n- 整理資料回傳給客戶，請使用對話好懂的方式 "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -48,
        -160
      ],
      "id": "1abc77d1-9994-47b5-b499-be68c36fcf58",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "1af0a0c4-5ff1-4078-b798-7d2be0c3fa8b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the user bookings data",
        "method": "POST",
        "url": "https://uwfmsitaxqyakauwzqhw.supabase.co/functions/v1/get-user-bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.metadata.authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "get-user-bookings"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        224,
        64
      ],
      "id": "e389db1d-a246-4020-b672-a804c7263a37",
      "name": "get-user-bookings"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        64
      ],
      "id": "bf5be321-0ad0-49aa-81c0-e83640cd82f3",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "vo1Kz0pllXw8z5Cv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get-user-bookings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e592ad0-0559-4bff-b27f-787156309c4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98fc6998a4fc974191a50fd1e28f3c93149311bffb0a029723a4889a4111c908"
  },
  "id": "hUW5Zqg5xUyXbwtF",
  "tags": [
    {
      "createdAt": "2025-02-20T10:56:36.149Z",
      "updatedAt": "2025-02-20T10:56:36.149Z",
      "id": "qc8YQ51rp9Uf0sOf",
      "name": "prd"
    },
    {
      "createdAt": "2025-01-21T07:13:36.575Z",
      "updatedAt": "2025-01-21T07:13:36.575Z",
      "id": "yM2YsERN8eAqo2ZC",
      "name": "ai-agent"
    }
  ]
}