n8n/37-n8n-vibe-coding-vscode/n8n-mcp-test-workflow.json
{
  "name": "n8n MCP Test Workflow",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [100, 200],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "parameters": {
        "path": "test-webhook",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200],
      "onError": "continueRegularOutput",
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Process webhook data\nconst inputData = items[0].json;\nreturn [{\n  json: {\n    message: 'Hello from n8n MCP test!',\n    receivedData: inputData,\n    timestamp: new Date().toISOString(),\n    processed: true,\n    workflowId: 'n8n-mcp-test'\n  }\n}];"
      }
    },
    {
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://httpbin.org/post",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [700, 200],
      "onError": "continueRegularOutput",
      "parameters": {
        "respondWith": "json"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": false
  }
}
